/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #e7eff6; /* 轻淡的蓝色背景 */
    color: #333; /* 深色文本 */
    margin: 0;
    padding: 0;
}

/* 导航栏样式 */
#navigation_bar {
    background-color: #004080; /* 深蓝色背景 */
    color: #ffffff; /* 白色文本 */
    width: 200px; /* 导航栏宽度 */
    height: 26vh; /* 全屏高度 */
    position: fixed; /* 固定位置 */
    left: 0; /* 左侧对齐 */
    top: 200px; /* 顶部对齐 */
    padding: 20px; /* 内边距 */
}

#navigation_bar b {
    display: block;
    margin-bottom: 10px;
}

#navigation_bar ul {
    list-style-type: none; /* 移除列表标记 */
    padding: 0;
    margin: 0;
}

#navigation_bar li a {
    color: #ffffff; /* 白色链接文本 */
    text-decoration: none; /* 移除下划线 */
    display: block;
    padding: 10px 0; /* 上下填充 */
}

#navigation_bar li a:hover {
    background-color: #0066cc; /* 鼠标悬停颜色 */
}

/* 仪表板样式 */
#dashboard {
    margin-left: 220px; /* 留出导航栏空间 */
    padding: 176px;
    width: calc(100% - 240px); /* 计算宽度 */
    box-sizing: border-box; /* 边框盒模型 */
    display: flex;
    align-items: center; /* 垂直居中 */
    min-height: 100vh; /* 最小高度 */
    flex-direction: column; /* 垂直排列元素 */
}

#dashboard > div {
    background-color: #cce0ff; /* 浅蓝色背景 */
    border: 1px solid #004080; /* 深蓝色边框 */
    padding: 10px;
    margin: 10px 0; /* 上下外边距 */
    width: 100%;
    box-sizing: border-box; /* 边框盒模型 */
    text-align: center; /* 文本居中 */
}

#dashboard b {
    color: #004080; /* 深蓝色文本 */
    font-size: 1.2em; /* 字体大小 */
}

header{
    background-color: #0000A0;
    color: white;
    height: 0;
    width: 100%;
    font-size: 240%;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 6%;
    position: fixed;
}

.top_search{
    display: block;
    padding-left: 65%;
    margin:-57px 50px 75px 100px;
}

.user_info{
    color: white;
    font-size: 40%;
    text-align: right;
    padding-right: 3%;
    margin:-112px 50px 75px 100px;
}

#logout{
    color: lightgray;
}

#path{
    padding-top: 150px;
    position: fixed;
}

.info_table_div {
  background-color: #f2f2f2; /* 浅色背景 */
  color: #333; /* 字体颜色，便于阅读 */
  text-align: center; /* 居中对齐 */
  padding: 243px;
  margin: 0 auto; /* 页面中央 */
  width: 80%; /* 根据需要调整宽度 */
}

.table_head {
  font-size: 23px; /* Account console字体大小 */
  margin-bottom: 20px;
}


.table_search, #create_item {
  display: inline-block; /* 并排显示 */
  margin-right: 10px;
}

#items_keyword, #search_items {
  font-size: 14px; /* 搜索框和搜索按钮字体大小 */
}

.info_table {
  width: 100%;
  border-collapse: collapse; /* 边框合并 */
}

.info_table th {
  font-size: 18px; /* thead字体大小 */
}

.info_table td {
  font-size: 14px; /* 表格内容字体大小 */
}

.info_table th, .info_table td {
  padding: 10px;
  border: 1px solid #ddd; /* 单元格边框 */
}

/* 链接样式 */
a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.admin_form {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    width: 336px;
    padding-left: 97px;
}

.admin_form form {
    display: flex;
    flex-direction: column;
}

.admin_form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.admin_form input, .admin_form select {
    margin-bottom: 10px;
}


