<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/admin.css') }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async="async"></script>
    <script src="{{ url_for('static',filename='js/admin_window.js') }}"></script>
    <title>Assignment console</title>
</head>
<body>
<div class="admin_form" id="admin_asn">
    <b>{{ title }}</b>
    <form name="admin_editor" id="asn_editor" method="post">
        {% if edit %}
        <label for="a_id">ID*</label><input name="a_id" id="a_id" type="text" value="{{ a_id }}" readonly>
        {% endif %}
        <label for="asn_name">Assignment Name*</label><input type="text" id="asn_name" name="asn_name" value="{{ asn_name }}" required>
        <label for="crs_id">Course ID*</label><input type="number" id="crs_id" name="crs_id" value="{{ crs_id }}" required>
        <label for="ddl">Deadline*</label><input type="datetime-local" id="ddl" name="ddl" value="{{ ddl }}" required>
        <label for="desc_asn">Description</label><input type="text" id="desc_asn" name="desc_asn" value="{{ desc_asn }}">
        <input name="asn_submit" id="asn_submit" type="submit" value="Submit">
    </form>
</div>
</body>
</html>