<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/admin.css') }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    {% block js %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
    Learning Management System
        <form method="get" name="search_box" class="top_search" action="/results">
            <input type="text" name="keyword" id="keyword">
            <input type="submit" name="search" id="search" value="Search">
        </form>
        <div class="user_info">
            Welcome {{ firstname }}!<br>Your role: {% block role %} {% endblock %}<br>
            <a href="/logout" id="logout">Log out</a>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>