{% extends "adminbase.html" %}
{% block js %}
    <script src="{{ url_for('static',filename='js/admin_window.js') }}"></script>
{% endblock %}
{% block title %}
	Console for Admin
{% endblock %}
{% block content %}
<p style="position: fixed; top: 8rem"><a href="/">Home</a> &gt; {{ type }}</p>
<div class="info_table_div">
    <div class="table_head">
        <b>{{ type.title() }} console</b>
        <form class="table_search" name="items_search" id="items_search" method="get">
            <input type="text" name="items_keyword" id="items_keyword">
            <input type="submit" name="search_items" id="search_items" value="Search">
        </form>
        {% if type != "enrollment requests" %}<button name="create_item" id="create_item" type="button" onclick="window.open('/{{ type }}/create', '_blank', 'height=500,width=500');">Create</button>{% endif %}
        {% if type == 'course' %}<button name="accept_enroll" id="accept_enroll" type="button" onclick="window.location.href='/course/enroll/request'">View Requests</button> {% endif %}
    </div>
    <table class="info_table" id="account_table" name="account_table">
        <thead>
        <tr>
            <th>ID</th>
            {% if type == "account" %}
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Role</th>
            {% elif type == "course" %}
                <th>Name</th>
                <th>Leader Instructor Name</th>
                <th>Leader Instructor ID</th>
                <th>Session</th>
            {% elif type == "assignment" %}
                <th>Name</th>
                <th>Course Name</th>
                <th>Deadline</th>
            {% elif type == "lecture" %}
                <th>Name</th>
                <th>Course Name</th>
                <th>Resources</th>
            {% elif type == "forum" %}
                <th>Name</th>
            {% elif type == "membership" %}
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Student ID</th>
            {% elif type == "messages" %}
                <th>Sender</th>
                <th>Content</th>
                <th>Send Time</th>
            {% elif type == "enrollment requests" %}
                <th>Student Name</th>
                <th>Student ID</th>
                <th>Course Name</th>
                <th>Session</th>
            {% endif %}
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            {% for field in item %}
            {% set bool = judge_str(field) %}
            {% if bool and ('files' in field or 'http' in field)  %}
            <td><a href="/{{ field }}" download>Click to download</a></td>
            {% else %}
            <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
        {% if type != "enrollment requests" %}
            <td><a href="/{{ type }}/delete?id={{ item[0] }}" class="delete_link">Delete</a>{% if type != 'membership' %}&nbsp;{% if type != 'messages' %}<a onclick="window.open('/{{ type }}/edit?id={{ item[0] }}', '_blank', 'height=500,width=500');">Edit</a>{% endif %}{% if type == "course" %}&nbsp;{% elif type == "forum" %}&nbsp;<a href="/forum/membership/{{ item[0] }}">View</a>{% endif %}{% endif %}</td>
            {% else %}
            <td><a href="/course/enroll/receive?id={{ item[0] }}">Receive</a>&nbsp;<a href="/course/enroll/deny?id={{ item[0] }}">Deny</a></td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}