<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/admin.css') }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async="async"></script>
    <script src="{{ url_for('static',filename='js/create_account.js') }}"></script>
    <title>Account console</title>
</head>
<body>
<div class="admin_form">
    <b>Create new account</b>
    <form name="create_account" method="post">
        <label for="c_firstname">Firstname</label><input name="c_firstname" id="c_firstname" type="text" required>
        <label for="c_lastname">Lastname</label><input name="c_lastname" id="c_lastname" type="text" required>
        <label for="c_psw">Password</label><input name="c_psw" id="c_psw" type="password" required>
        <label for="c_roles">Roles</label><select name="c_roles" id="c_roles" required>
            <option value="0">Admin</option>
            <option value="1">Student</option>
            <option value="2">Instructor</option>
        </select>
        <input name="c_submit" id="c_psw" type="submit">
    </form>
</div>
</body>
</html>