<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/admin.css') }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async="async"></script>
    <script src="{{ url_for('static',filename='js/admin_window.js') }}"></script>
    <title>Course console</title>
</head>
<body>
<div class="admin_form" id="admin_frm">
    <b>{{ title }}</b>
    <form name="admin_editor" id="frm_editor" method="post">
        {% if edit %}
        <label for="f_id">ID*</label><input name="f_id" id="f_id" type="text" value="{{ id }}" readonly>
        {% endif %}
        <label for="frm_name">Course Name*</label><input type="text" id="frm_name" name="frm_name" value="{{ frm_name }}" required>
        <input name="crs_submit" id="crs_submit" type="submit" value="Submit">
    </form>
</div>
</body>
</html>