{% extends "student_base.html" %}
{% block js %}
    <script src="{{ url_for('static',filename='js/admin_window.js') }}"></script>
{% endblock %}
{% block title %}
{{ type.title()}}
{% endblock %}
{% block content %}
<p style="position: fixed; top: 8rem"><a href="/">Home</a> &gt; {{ type }}</p>
<div class="info_table_div">
    <div class="table_head">
        <b>{{ type.title() }}</b>
        <form class="table_search" name="items_search" id="items_search" method="get">
            <input type="text" name="items_keyword" id="items_keyword">
            <input type="submit" name="search_items" id="search_items" value="Search">
        </form>
    </div>
    <table class="info_table" id="account_table" name="account_table">
        <thead>
        <tr>
            <th>ID</th>
            {% if type == "messages" %}
                <th>Sender</th>
                <th>Content</th>
                <th>Send Time</th>
            {% elif type == "lecture" %}
                <th>Name</th>
                <th>Resources</th>
                <th>Description</th>
                <th>Upload Datetime</th>
            {% elif type == "enroll" %}
                <th>Course Name</th>
                <th>Session</th>
                <th>Leader Instructor</th>
            {% elif type == "join forum" %}
                <th>Name</th>
            {% elif type == "notification" %}
                <th>Sender Name</th>
                <th>Title</th>
                <th>Date</th>
            {% endif %}
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            {% for field in item %}
            {% set bool = judge_str(field) %}
            {% if bool and ('files' in field or 'http' in field)  %}
            <td><a href="/{{ field }}" download>Click to download</a></td>
            {% else %}
            <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
        {% if type == 'lecture' %}
            <td><a href="https://www.bing.com">View</a></td>
        {% elif type == 'notification' %}
            <td><a onclick="window.open('/{{ type }}/view?id={{ item[0] }}', '_blank', 'height=500,width=500');">View</a></td>
        {% elif type != 'enroll' and type != 'join forum' %}
            <td><a href="/{{ type }}/delete?id={{ item[0] }}" class="delete_link">Delete</a>{% if type != 'membership' %}&nbsp;{% if type != 'messages' %}<a onclick="window.open('/{{ type }}/edit?id={{ item[0] }}', '_blank', 'height=500,width=500');">Edit</a>{% endif %}{% if type == "course" %}&nbsp;<a onclick="window.open('/course/enroll?id={{ item[0] }}', '_blank', 'height=500,width=500');">Enroll</a>{% elif type == "forum" %}&nbsp;<a href="/forum/membership/{{ item[0] }}">View</a>{% endif %}{% endif %}</td>
        {% elif type != 'join forum' %}
            <td><a href="/enroll/request/send?id={{ item[0] }}">Enroll</a></td>
        {% else %}
            <td><a href="/forum/stu/join?id={{ item[0] }}">Join</a></td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}